.zhenai__upload-btn {
  cursor: pointer;
  border-radius: 4px;
  margin-top: 12px;
  font-size: 14px;
  padding: 0 16px;
  height: 34px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #126bff;
}

.zhenai__upload-btn--disable {
  background: #126bffa8;
  pointer-events: none;
}

.zhenai__toast {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #67c23a;
  background: #f0f9eb;
  padding: 15px 20px;
  border: 1px solid #e1f3d8;
  border-radius: 4px;
  opacity: 0;
  transition: 1s opacity;
  z-index: 9999;
}

.zhenai-animate__fadeout {
  opacity: 0;
}

.zhenai-animate__fadein {
  opacity: 1;
}
